.input,
.btn,
.textarea {
    margin: 5px 0;
}

.input,
.textarea {
    border: none;
    color: #eee;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    font-size: 16px;
    line-height: 30px;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

.select {
    font-size: 16px;
    line-height: 30px;
    height: 30px;
    width: 100%;
}

input:-internal-autofill-selected {
    appearance: menulist-button;
    background-color: inherit;
    background-image: none !important;
    color: inherit;
}

.btn {
    display: block;
    width: 100%;
    border: none;
    padding: 10px 0;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    border: solid 1px #efefef;
    background: transparent;
    color: #efefef;
    transition: all .3s;
}

.btn:hover {
    background: #efefef;
    color: #222;
}

.btn-toggle span:last-child {
    display: none;
}

.btn-toggle.active span:first-child {
    display: none;
}

.btn-toggle.active span:last-child {
    display: inline;
}

.fixed {
    position: fixed;
}

.center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.center-hor {
    left: 50%;
    transform: translateX(-50%);
}

#message {
    bottom: 25px;
    text-align: center;
}

.container {
    min-width: 250px;
}